<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ulsu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/csrf_ajax.js"></script>

    <script src="{{ STATIC_URL }}packages/bootstrap/js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}packages/bootstrap/js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}packages/bootstrap/js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}packages/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}packages/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}packages/bootstrap/js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}packages/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}packages/bootstrap/js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}packages/bootstrap/js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}packages/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}packages/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}packages/bootstrap/js/bootstrap-typeahead.js"></script>
    
    <script src="{{ STATIC_URL }}packages/bootstrap/js/holder.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
        $('#login_button').click(function(){
            $('.modal').modal();
            return false;
        })
    })
    </script>
    
    <script type="text/javascript">
    function redraw(){
        var width;
        var w = (window.innerWidth > 0) ? window.innerWidth : screen.width;
        if (w < 740) {
            width = $('.container').width();
        } else {
            width = $('.container').width()-$('.modules').width()-20;
        }
            $('.main-content').width(width);
    }

    redraw();

    $(window).on('resize', function(){
        redraw();
    });
    
    function redraw_carousel(){
        var width;
        var w = (window.innerWidth > 0) ? window.innerWidth : screen.width;
        if (w > 980) {
            width = $('#myCarousel').width()-250;
        } else {
            width = $('#myCarousel').width();
        }
        $('.carousel-image').width(width);
    }

    redraw_carousel();

    $(window).on('resize', function(){
        redraw_carousel();
    });
    
    $(function(){
        $('#myCarousel').carousel()
    });
    
    </script>

    <script type="text/javascript">
    $(document).ready(function(){
        $('#login_btn').click(function(){
            $.ajax({
                url: 'accounts/login/',
                type: 'POST',
                data: {'username': $('#username').val() ,'password': $('#password').val()},
                success: function(data){
                    if( data == 1) location.reload();
                        else $('#login_error').text("Неверные данные!");
                }
            })
        })
        
        $('#logout_btn').click(function(){
            $.ajax({
                url: 'accounts/logout/',
                success: function(data){
                    if( data == 1) location.reload();
                }
            })
        })
    })
    </script>
    
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
    
    <link href="{{ STATIC_URL }}packages/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}packages/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    
    <link href="{{ STATIC_URL }}css/header.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/navigation.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/footer.css" rel="stylesheet">
    
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
    
    {% block content-js %}{% endblock %}
    {% block content-css %}{% endblock %}

</head>

<body>
<div id="wrap">
    <div class="header">
        <div class="container">
            <div class="logo">
                <img style="margin-right: 40px;float:left;" src="{{ STATIC_URL }}img/logo.png">
                <span style="min-width: 500px;display: block;float: left;line-height: 40px;margin-top: 20px;">Ульяновский государственный<br /> университет</span>
                <span style="font-size:22px; display: block;float: left;line-height: 40px;margin-top: 80px;">Классический выбор</span>
            </div>
            <div class="search_form">
                <div class="info-block">
                    <a href=""><img src="{{ STATIC_URL }}img/atom.png"></a>
                    <a href=""><img src="{{ STATIC_URL }}img/start.png"></a>
                    <a href="#">RSS</a>
                    <a href="#">Wi-Fi</a>
                    <a href="#">ENG</a>
                </div>
                <form class="form-search">
                    <div class="input-append">
                        <input type="text" class="span2 search-query">
                        <button class="btn" type="submit">Найти</button>
                    </div>
                </form>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    {% comment %}------------MENU----------------------------------{% endcomment %}
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="nav-collapse in collapse" style="height: auto;">
                    <ul class="nav">
                        <li class="active"><a href="#">Новости</a></li>
                        <li><a href="#about">Студентам</a></li>
                        <li><a href="#contact">Выпускникам</a></li>
                        <li><a href="#contact">Сотрудникам</a></li>
                        <li><a href="#contact">Подразделения</a></li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Информация <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Об университете</a></li>
                                <li><a href="#">Образовательные программы</a></li>
                                <li><a href="#">Международное сотрудничество</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Nav header</li>
                                <li><a href="#">Социальная политика</a></li>
                                <li><a href="#">Довузовское образование</a></li>
                                <li><a href="#">Система менеджмента качества </a></li>
                                <li><a href="#">Школы-партнёры</a></li>
                                <li><a href="#">Сотрудничество</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Обратная связь <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Гостевая книга</a></li>
                                <li><a href="#">Задать вопрос</a></li>
                                <li><a href="#">Контакты</a></li>
                            </ul>
                        </li>
                    </ul>
                    
                    <div id="modal" class="modal hide fade">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 style="text-align: center;">Авторизация</h3>
                    </div>
                    <div class="modal-body">
                        <form action="" method="POST">
                            <div style="margin: 0 auto;width: 300px;color: red;" id="login_error"></div>
                            <div style="margin: 0 auto;width: 300px;">
                                Логин: 
                                <input type="text" style="width: 300px;" name="username" id="username"/>
                                Пароль: 
                                <input type="password" style="width: 300px;" name="password" id="password"/>
                            </div>
                            <div style="margin: 0 auto; width: 50px;">
                                <input type="button" value="Войти" id="login_btn"/>
                            </div>
                            {% csrf_token %}
                        </form>
                    </div>
                    </div>

                    <form class="navbar-form pull-right">
                        {% if not user.is_anonymous %}
                        {{ user.username }} <a href="#" style="display: inline-block; margin-top: 15px; color: #F7F7F7;" id="logout_btn">Выход</a>
                        {% else %}
                        <a href="#" style="display: inline-block; margin-top: 15px; color: #F7F7F7;" id="login_button">Вход</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% block main %}{% endblock %}
    <div id="push"></div>
</div>    
<div id="footer">
    <div class="container">
        <p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
    </div>
</div>

</body>
</html>