{% extends "base.html" %}
{% load static %}

{% block content-css %}
<link href="{{ STATIC_URL }}css/content.css" rel="stylesheet">
{% block css %}{% endblock %}
{% endblock %}

{% block main %}
<div class="content">
    <div class="container">
        <div class="main-content">
             {% if node.breadcrumbs_w_last %}
                <ul class="breadcrumb">
                    {% for b in node.breadcrumbs_w_last %}
                        <li><a href="{{ b.path }}">{{ b.title }}</a></li>
                        {% if not forloop.last %}
                            <span class="divider">/</span>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
                <div align="center" width="100%">
                    {% if not mode %}
                        <a href="{{ node.path }}add/"><img alt="Компонент" ext:qtip="Добавить Компонент, дочерний к этому документу" src="http://www.ulsu.ru/components/com_dprtmnt/i/new_com.png"/></a>
                    {% endif %}
                    {% block topmenu %}{% endblock %}
                </div>
                <h1>{% if title %}{{ title }}{% else %}{{ node.title }}{% endif %}</h1>
                
                {% block content %}{% endblock %} 
                
            </div>
            <div class="modules">
               {{ node.rightmenu|safe }}
            </div>
            
            <div style="clear: both;"></div>

        </div>

</div>
    
{% endblock %}
