<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html dir="ltr" lang="ru">
<head>
    <title>УлГУ</title>
    <script type="text/javascript" src="http://www.ulsu.ru/mambots/system/jceutils/jscripts/mootools.js"></script>
    <script type="text/javascript" src="http://www.ulsu.ru/mambots/system/jceutils/jscripts/jceutils.js"></script>
    <script type="text/javascript" src="http://www.ulsu.ru/mambots/system/jceutils/jscripts/embed.js"></script>
    <link href="http://www.ulsu.ru/mambots/system/jceutils/css/jcebox.css" media="all" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        if (typeof jceUtils != 'undefined') {
            jceUtils.setConfig({
                convert: 1,
                resize: 1,
                zoom: 0,
                overlay_opacity: 0.8,
                fadespeed: 500,
                scalespeed: 500,
                pngfix: 0,
                tip_class: 'tooltip',
                tip_opacity: 1,
                tip_fxspeed: 150,
                images_path: 'mambots/system/jceutils/images/'
            });
        }
    </script>
    <script src="http://www.ulsu.ru/templates/madeyourweb/js/slideout.js" type="text/javascript"></script>
    <script src="http://www.ulsu.ru/templates/madeyourweb/js/anylink.js" type="text/javascript"></script>
    <script src="http://www.ulsu.ru/templates/madeyourweb/js/ulsu.js" type="text/javascript"></script>
    <link href="http://www.ulsu.ru/templates/madeyourweb/css/template.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.ulsu.ru/components/com_dprtmnt/js/ext30/resources/css/structure/core.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.ulsu.ru/components/com_dprtmnt/js/ext30/resources/css/structure/button.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.ulsu.ru/components/com_dprtmnt/js/ext30/resources/css/structure/borders.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.ulsu.ru/components/com_dprtmnt/js/ext30/resources/css/structure/dialog.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.ulsu.ru/components/com_dprtmnt/js/ext30/resources/css/structure/box.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.ulsu.ru/components/com_dprtmnt/js/ext30/resources/css/structure/panel.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.ulsu.ru/components/com_dprtmnt/js/ext30/resources/css/structure/qtips.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.ulsu.ru/components/com_dprtmnt/js/ext30/resources/css/structure/window.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.ulsu.ru/components/com_dprtmnt/js/ext30/resources/css/visual/core.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.ulsu.ru/components/com_dprtmnt/js/ext30/resources/css/visual/button.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.ulsu.ru/components/com_dprtmnt/js/ext30/resources/css/visual/borders.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.ulsu.ru/components/com_dprtmnt/js/ext30/resources/css/visual/dialog.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.ulsu.ru/components/com_dprtmnt/js/ext30/resources/css/visual/box.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.ulsu.ru/components/com_dprtmnt/js/ext30/resources/css/visual/panel.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.ulsu.ru/components/com_dprtmnt/js/ext30/resources/css/visual/qtips.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.ulsu.ru/components/com_dprtmnt/js/ext30/resources/css/visual/window.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.ulsu.ru/components/com_dprtmnt/js/ext30/resources/css/xtheme-blue.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://www.ulsu.ru/components/com_dprtmnt/js/ext30/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="http://www.ulsu.ru/components/com_dprtmnt/js/ext30/ext-all.js"></script>
    <script src="http://www.ulsu.ru/templates/madeyourweb/js/slimbox.js" type="text/javascript"></script>
    <link href="http://www.ulsu.ru/templates/madeyourweb/css/slimbox.css" media="screen" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        Ext.onReady(function () {
            Ext.QuickTips.init();
            Ext.apply(Ext.QuickTips.getQuickTip(), {
                interceptTitles: false,
                trackMouse: false
            });
        });

        function appr(lnk) {
            var block = document.getElementById(lnk);
            block.style.display = (block.style.display == "none") ? "block" : "none";
            return false;
        }
    </script>
</head>
<body>
<a name="top"></a>
<table border="0" cellpadding="0" cellspacing="0" style="border-bottom: 1px solid #000000;background-color:#085473;" width="100%">
    <tr class="tLineTop">
        <td>
            <h1 class="topheader">Ульяновский государственный университет</h1>
            <div style="position:absolute; top:2px; right:0px; ">
                <a href="http://english.ulsu.ru/" hreflang="en"><img alt="Ulyanovsk State University" border="0" src="http://www.ulsu.ru/i/markup2/tline_title_en.gif" title="English version"/></a>
            </div>
            <div style="position:absolute; top:0px; left:0px; ">
                <img alt="Классический университет - классический выбор" border="0" src="http://www.ulsu.ru/i/markup2/tline_intro_ru.gif"/>
            </div>
        </td>
    </tr>
</table>
<!--/UdmComment-->
<!--UdmComment-->
<table border="0" cellpadding="4" cellspacing="0" class="mTop" width="100%">
    <tr>
        <td align="right" height="100" valign="middle">
            <!--<a href="http://www.ulsu.ru/about/rating/"><div class="top_100"></div></a>-->
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <div id="banner20years" style="margin:13px 10px 0 0;"><a href="http://www.ulsu.ru/news/16871/"><img alt="25 лет" src="http://www.ulsu.ru/i/banner/anniversary25years.png"/></a></div>
                    </td>
                    <td><img alt="" height="1" src="http://www.ulsu.ru/i/0.gif" width="10"/></td>
                    <td>
                        <form action="/go/" method="get" name="fastgo">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td colspan="2"><strong>быстрый переход:</strong></td>
                                </tr>
                                <tr>
                                    <td>
                                        <select name="where" onChange="this.form.submit();">
                                            <option selected>выберите раздел</option>
                                            <!--<option value="stu">Абитуриентам</option>-->
                                            <option value="aup">АУП инфо</option>
                                            <!--<option value="ask">Задать вопрос</option>-->
                                            <option value="documents">Документы СМК</option>
                                            <option value="library">Библиотека УлГУ</option>
                                            <option value="vestnik">Газета &laquo;Вестник&raquo;</option>
                                            <option value="edu">&laquo;Образовательный портал&raquo;</option>
                                            <!--<option value="sport">Спорт в УлГУ</option>
<option value="campus">Карта корпусов</option>-->
                                        </select>
                                    </td>
                                    <td>
                                        &nbsp;
                                        <input alt="&raquo;" class="submit" src="http://www.ulsu.ru/i/tbut.gif" title="" type="image">
                                    </td>
                                </tr>
                            </table>
                        </form>
                        <form action="http://search.ulsu.ru/search.cgi" id="searchform" method="get" name="searchform" onSubmit="convertForm(); return false;">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td colspan="2">
                                        <strong>поиск:</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input id="searchinput" name="q" size="15" type="text">
                                    </td>
                                    <td>
                                        &nbsp;
                                        <input alt="&raquo;" class="submit" name="cmd" src="http://www.ulsu.ru/i/tbut.gif" title="" type="image">
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--/UdmComment-->
<!--UdmComment-->
<table border="0" cellpadding="0" cellspacing="0" class="main" width="100%">
<tr>
    <td class="mLineDark" valign="top">&nbsp;</td>
    <td align="left" bgcolor="#cfcdc5" class="mLineSquare" valign="top"><img alt="" src="http://www.ulsu.ru/i/mline_square.gif" width="15"></td>
    <td align="left" bgcolor="#cfcdc5" class="mLineMain" valign="top">
        <a href="/news/" onClick="return clickreturnvalue()" onMouseover="dropdownmenu(this, event, 'anylinkmenu2')">
            новости
        </a>
        <div class="anylinkcss" id="anylinkmenu2">
            <a href="/news">&nbsp; университетские</a>
            <a href="/news/sport">&nbsp; спортивные</a>
            <a href="/component/option,com_rubrikator/Itemid,377/">&nbsp;
                рубрикатор</a>
            <a href="/video/">&nbsp; видеотрансляция</a>
        </div>
        <img align="top" alt="|" src="http://www.ulsu.ru/i/vline1.gif">
        <a href="/phones/" onClick="return clickreturnvalue()" onMouseover="dropdownmenu(this, event, 'anylinkmenu1')">
            справочник
        </a>
        <div class="anylinkcss" id="anylinkmenu1">
            <a href="/pbook/">&nbsp; телефонный</a>
            <a href="/logo/">&nbsp; символика</a>
            <a href="/directory/domains/">&nbsp; доменные имена
            </a>
        </div>
        <img align="top" alt="|" src="http://www.ulsu.ru/i/vline1.gif">
        <a href="/guestbook/">
            гостевая книга
        </a>
        <img align="top" alt="|" src="http://www.ulsu.ru/i/vline1.gif">
        <a href="/faq/ask/">
            задать вопрос
        </a>
        <img align="top" alt="|" src="http://www.ulsu.ru/i/vline1.gif">
        <a href="/contacts/">
            контакты
        </a>
    </td>
    <td align="right" bgcolor="#cfcdc5" class="mLineMain" valign="top">
        <a href="http://www.ulsu.ru/news/atom"><img align="top" alt="Atom" src="http://www.ulsu.ru/i/rss.png" style="margin:4px -1px 0px 5px; float:rig6ht;" title="Atom"/></a>
        <img align="top" alt="|" src="http://www.ulsu.ru/i/vline1.gif" style="margin-left: 2px;">
        <a href="http://www.ulsu.ru/news/rss/" title="RSS">RSS</a>
        <img align="top" alt="|" src="http://www.ulsu.ru/i/vline1.gif" style="margin-left: 2px;">
        <a href="http://www.ulsu.ru/com/centres/noc/freewifi/"><img align="top" alt="wifi" src="http://www.ulsu.ru/i/wifi.png" style="margin:4px 2px 0px 2px; float:rig6ht;" title="wifi"/>
            Wi-Fi</a>
        <img align="top" alt="|" src="http://www.ulsu.ru/i/vline1.gif" style="margin-left: 2px;">
        <a href="/home/" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.ulsu.ru/'); return false;"><img align="top" alt="&nbsp;" src="http://www.ulsu.ru/i/start.gif" style="margin:2px 5px 0px 1px; float:rig6ht;" title="сделать стартовой"/>
            Сделать стартовой</a>
        <img align="top" alt="|" src="http://www.ulsu.ru/i/vline1.gif">
        <a href="http://english.ulsu.ru/" title="English version">english</a>&nbsp;&nbsp;
    </td>
</tr>
<tr>
<td class="mLeft">
    <table border='0' cellpadding='0' cellspacing='1' id='leftmenu'>
        <tr>
            <td class="normal" onMouseOut="this.className='normal'" onMouseOver="this.className='selected'"><a href='/about/'>Об&nbsp;университете</a></td>
            <td class='mark'><img alt='' src='/i/0.gif' width='5'/></td></tr>
        <tr>
            <td class="normal" onMouseOut="this.className='normal'" onMouseOver="this.className='selected'"><a href='/programms/'>Образовательные
                программы</a></td>
            <td class='mark'><img alt='' src='/i/0.gif' width='5'/></td></tr>
        <tr>
            <td class="normal" onMouseOut="this.className='normal'" onMouseOver="this.className='selected'"><a href='/science/'>Научная&nbsp;деятельность</a></td>
            <td class='mark'><img alt='' src='/i/0.gif' width='5'/></td></tr>
        <tr>
            <td class="normal" onMouseOut="this.className='normal'" onMouseOver="this.className='selected'"><a href='/inter/'>Международное
                <br>сотрудничество</a></td>
            <td class='mark'><img alt='' src='/i/0.gif' width='5'/></td></tr>
        <tr>
            <td class="normal" onMouseOut="this.className='normal'" onMouseOver="this.className='selected'"><a href='/social/'>Социальная
                политика</a></td>
            <td class='mark'><img alt='' src='/i/0.gif' width='5'/></td></tr>
        <tr>
            <td class="normal" onMouseOut="this.className='normal'" onMouseOver="this.className='selected'"><a href='/prospective/'>Довузовское
                образование</a></td>
            <td class='mark'><img alt='' src='/i/0.gif' width='5'/></td></tr>
        <tr>
            <td class="normal" onMouseOut="this.className='normal'" onMouseOver="this.className='selected'"><a href='/prospective/comission/'>Абитуриентам</a></td>
            <td class='mark'><img alt='' src='/i/0.gif' width='5'/></td></tr>
        <tr>
            <td class="normal" onMouseOut="this.className='normal'" onMouseOver="this.className='selected'"><a href='/students/'>Студентам</a></td>
            <td class='mark'><img alt='' src='/i/0.gif' width='5'/></td></tr>
        <tr>
            <td class="normal" onMouseOut="this.className='normal'" onMouseOver="this.className='selected'"><a href='/alumni/'>Выпускникам</a></td>
            <td class='mark'><img alt='' src='/i/0.gif' width='5'/></td></tr>
        <tr>
            <td class="normal" onMouseOut="this.className='normal'" onMouseOver="this.className='selected'"><a href='/staff/'>Сотрудникам</a></td>
            <td class='mark'><img alt='' src='/i/0.gif' width='5'/></td></tr>
        <tr>
            <td class="normal" onMouseOut="this.className='normal'" onMouseOver="this.className='selected'"><a href='/com/'>Подразделения</a>
                <ul>
                    <li><a href='/com/index3/'>Административные подразделения</a></li>
                    <li><a href='/com/index4/'>Учебно-научные подразделения</a></li>
                </ul>
            </td>
            <td class='mark'><img alt='' src='/i/0.gif' width='5'/></td></tr>
        <tr>
            <td class="normal" onMouseOut="this.className='normal'" onMouseOver="this.className='selected'"><a href='http://tqm.ulsu.ru'>Система
                менеджмента качества</a></td>
            <td class='mark'><img alt='' src='/i/0.gif' width='5'/></td></tr>
        <tr>
            <td class="normal" onMouseOut="this.className='normal'" onMouseOver="this.className='selected'"><a href='/index.php?option=com_dprtmnt&Itemid=33&id=1523&lang=ru'>Школы-партнёры</a></td>
            <td class='mark'><img alt='' src='/i/0.gif' width='5'/></td></tr>
        <tr>
            <td class="normal" onMouseOut="this.className='normal'" onMouseOver="this.className='selected'"><a href='/cooperation/'>Сотрудничество</a></td>
            <td class='mark'><img alt='' src='/i/0.gif' width='5'/></td></tr>
    </table>
    <br>
    <div style="padding-right:10px">
        <div id="ss" style="width:100%; text-align:center;">
            <a href="http://vk.com/ulsu_ulgu" target="_BLANK"><img src="http://www.ulsu.ru/i/vk.png"/></a>
            <a href="https://twitter.com/#!/ULSU_73" target="_BLANK"><img src="http://www.ulsu.ru/i/twit.png"/></a><br/>
            <a href="http://www.youtube.com/user/73press" target="_BLANK"><img src="http://www.ulsu.ru/i/yt.png" style=" margin-top:3px;"/></a>
        </div>
        <br/>
        <br/>
        <div style="margin-top:20px; padding-left:0px;"><div style="display:none;"><img src="http://www.ulsu.ru/i/icons/gengen.jpg"></div>
            <a href="http://mymediacompany.ru/#mission" target="_BLANK"><img src="http://www.ulsu.ru/i/my_media.jpg"/></a>
        </div>
        <div style="width:100%; text-align:center; margin-top:50px;">
            <iframe frameborder="0" height="21" id="orphus" scrolling="no" src=" index2.php?option=com_orphus" width="121"></iframe>
        </div>
    </div>
    <div align='left'></div>
</td>
<td rowspan="2" width="11">&nbsp;</td>
<td class="mainContainer" colspan="2">
<!--/UdmComment-->
<div id="maincontent">
<script language='JavaScript'>
    function close_mod() {
        var block = document.getElementById("mod_win");
        block.style.display = 'none';
        return false;
    }

    function open_mod2() {
        var block = document.getElementById("mod_win");
        block.style.display = 'block';
        return false;
    }

    var win;

    function open_mod() { // create the window on the first click and reuse on subsequent clicks
        if (!win) {
            win = new Ext.Window({
                contentEl: 'mod_win',
                layout: 'fit',
                width: 200,
                closeAction: 'hide',
                plain: false,
                resizable: false,
                bodyBorder: false,
                modal: true
            });
        }
        win.show();
    }
</script>
<div align="right" style="position:absolute; top:127px;right:44px;">Силин
    И.К.:
    <a href="javascript: void(0);" onclick="open_mod();return false;" style="text-decoration:none;">[Выйти]</a>&nbsp;<a href="/com/help/" style="text-decoration:none;">[Помощь]</a></div>
<div align="center" border="0" class="x-hidden" id="mod_win" style="text-align:center;width:120px" valign="middle">
    <div style="width:130px;padding:10px;margin:10px;">
        <div class="moduletable">
            <h3>
                Авторизация
            </h3>
            <form action="http://www.ulsu.ru/component/option,logout/" method="post" name="logout">
                <br/>
                <div align="center">
                    <input class="button" name="Submit" type="submit" value="Выйти"/>
                </div>
                <input name="option" type="hidden" value="logout"/>
                <input name="op2" type="hidden" value="logout"/>
                <input name="lang" type="hidden" value="russian"/>
                <input name="return" type="hidden" value="http://www.ulsu.ru/1.html"/>
                <input name="message" type="hidden" value="0"/>
            </form>
        </div>
    </div>
</div>
<div class="moduletable">
<div align="center" width="100%">
    {% if not mode %}
    <a href="{{ node.path }}add/"><img alt="Компонент" ext:qtip="Добавить Компонент, дочерний к этому документу" src="http://www.ulsu.ru/components/com_dprtmnt/i/new_com.png"/></a>
    {% endif %}
    {% block topmenu %}

    {% endblock %}
    <br/>
    <br/>
    <div id="link_app" style="display:none">
        <input id="link_app_input" size="90" type="text" value="http://www.ulsu.ru/index.php?option=com_dprtmnt&Itemid=33&id=1">
    </div>
    <br/>
    <div id="mov_app" style="display:none;">
        <table border="0">
            <tr>
                <td>
                    <form action="http://www.ulsu.ru/index.php?option=com_dprtmnt&amp;Itemid=33&amp;id=1&amp;lang=ru&amp;task=move" method="POST" name="movef">
                        <select name="act" style="width:500px;font-size:12px;"></select><br/><input ext:qtip="Изменит вид URL. Рекомендуется не включать. При выключенной опции страничка будет доступна по старому URL адрессу. Для того чтобы изменения вступили в силу необходимо уведомить администратора сайта. " name="sefMove" type="checkbox"/>&nbsp;захватить
                        с собою и SEF ветви<br/><div align="right" width="100%"><input type="submit" value="перенести"/></div></form>
                </td>
            </tr>
        </table>
    </div>
    <div id="del_app" style="display:none;">
        <table border="0" padding=20>
            <tr>
                <td>
                    <form action="http://www.ulsu.ru/index.php?option=com_dprtmnt&amp;Itemid=33&amp;id=1&amp;lang=ru&amp;task=delete" method="POST" name="delf">
                        <input checked ext:qtip="При вырезании будет стёрта лишь эта страница, все дочерние разделы усыновятся родителем текущего раздела." name="act" type="radio" value="cut"/>Удалить
                        страницу<br/>
                        <input ext:qtip="Стирает всю ветвь - раздел вместе с дочерними подразделами." name="act" type="radio" value="del_brunch"/>Удалить
                        всю ветвь<br/>
                        <div align="right"><input type="submit" value="Удалить"/></div><br/><br/>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
<script language="JavaScript">
    function appr(mode) {
        var block = document.getElementById(mode);
        var act = block.style.display;
        block.style.display = (act == "block") ? "none" : "block";

        if (mode == "link_app" && act == "none") {
            block = document.getElementById(mode + "_input");
            block.focus();
            block.select();
        }

    }

    function show_props(obj) {
        var result = "";
        for (var i in obj) {
            result += i + " = " + obj[i] + "\n";
        }
        return result;
    }

    function cancelWork() {
        location.href = "http://www.ulsu.ru/1.html";
    }

    function SubmiterForm(type) {
        cForm = document.forms["edit"];
        switch (type) {
            case "save":
                document.getElementById("saveSubmiter").click();
                break;
            case "accept":
                document.getElementById("acceptSubmiter").click();
                break;
        }

    }
</script>
<table align="right" border="0" class="mSec">
    <tr>
        <td>
            {% if node.children %}
                <table border="0" cellpadding="0" cellspacing="0" class="mRight">
                    <tr>
                        <td>
                            {% for c in node.children %}
                            <a href="{{ c.path }}">{{ c.title }}</a><br/>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            {% endif %}
            {% if node.modules %}
                <table border="0" cellpadding="0" cellspacing="0" class="mRight">
                    {% for m in node.modules %}
                    <table cellpadding="0" cellspacing="0" class="moduletable">
                        <tr>
                            <td>
                                {{ m.data|safe }}
                            </td>
                        </tr>
                    </table>
                {% endfor %}
            {% endif %}
        </td>
    </tr>
</table>
{% for b in node.breadcrumbs_w_last %}<a href="{{ b.path }}">{{ b.title }}</a>{% if not forloop.last %}»{% endif %}{% endfor %}
</div>
<h2><img align='bottom' alt='&gt;' class='arrow-h2' src='http://www.ulsu.ru/i/arrow-h2.gif'>&nbsp;{% if title %}{{ title }}{% else %}{{ node.title }}{% endif %}</h2>
{% block content %}
Нет
{% endblock %}
</div>
</td>
</tr>
<tr>
    <td class="mLeft">
        <div style="margin-top:5px;">&nbsp;</div>
    </td>
    <td align="center" class="copyright" colspan="2" valign="top">
        <hr/>
        Copyright &copy;
        <a class="copyright" href="/">Ульяновский государственный
            университет</a>,
        1995-2013
        <br/>
        <br/>
        <a href="http://www.ulsu.ru/about/certificate/" target="_blank"><img src="http://www.ulsu.ru/i/markup2/iso9_1.jpg"/></a>&nbsp;
        <a href="http://www.ulsu.ru/news/15111/" target="_blank"><img src="http://www.ulsu.ru/i/markup2/100_tovarov.png"/></a>
    </td>
</tr>
</table>
<!--/UdmComment-->
</body>
</html>