<!DOCTYPE html>
<html>
<head>
    <title>Новый сайт УлГУ</title>
</head>
<body>
    <div id="topmenu">
        {% block topmenu %}
        {% endblock %}
    </div>
    <div id="head">
        <h1>УлГУ</h1>
    </div>
    {% for b in node.get_breadcrumbs %}
        {% if forloop.last %}
        <span class="breadcrumbs_current">{{ b.title }}</span>
        {% else %}
        <a href="{{ b.path }}">{{ b.title }}</a> |
        {% endif %}
    {% endfor %}
    <div id="content">
    {% block content %}
        Контент не подгрузился
    {% endblock %}
    </div>
    {% if node.get_children %}
    <div id="children">
    {% for c in node.get_children %}
        <a href="{{ c.get_path }}">{{ c.name }}</a><br />
    {% endfor %}
    </div>
    {% endif %}
</body>
</html>